сравнение алгоритмов SVM и kNN

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df = df.replace({"variety":  {"Setosa":1,"Versicolor":2, "Virginica":3}})
df.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [6]:
x = df.iloc[:, :-1].values 
y = df.iloc[:, 4].values

knn

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [8]:
from sklearn.neighbors import KNeighborsClassifier 
method1 = KNeighborsClassifier()
method1.fit(x_train, y_train)

KNeighborsClassifier()

In [9]:
y_pred1 = method1.predict(x_test)

svm

In [10]:
from sklearn.svm import SVC
method2 = SVC(kernel = 'linear', random_state = 0)
method2.fit(x_train, y_train)
y_pred2 = method2.predict(x_test)

сравнение

In [20]:
comparison_df = pd.DataFrame(data={'actual':y_test, 'model_1':y_pred1, 'model_2':y_pred2})
comparison_df

    actual  model_1  model_2
0        2        2        2
1        1        1        1
2        3        3        3
3        3        2        3
4        2        2        2
5        1        1        1
6        1        1        1
7        3        3        3
8        3        3        2
9        3        3        3
10       3        3        3
11       1        1        1
12       1        1        1
13       1        1        1
14       2        2        2
15       3        3        3
16       1        1        1
17       1        1        1
18       1        1        1
19       3        3        3
20       3        3        3
21       3        3        3
22       1        1        1
23       1        1        1
24       1        1        1
25       1        1        1
26       1        1        1
27       3        3        3
28       2        2        2
29       2        2        2

In [28]:
success_1, success_2 = 0, 0
for index, row in comparison_df.iterrows():
  if row['actual'] == row['model_1']:
    success_1 += 1
  if row['actual'] == row['model_2']:
    success_2 += 1
print(f'Попали {success_1} из {len(y_test)} раз первой моделью')
print(f'Попали {success_2} из {len(y_test)} раз второй моделью')

Попали 29 из 30 раз первой моделью
Попали 29 из 30 раз второй моделью